#progress{
    z-index:9999;
    position: absolute;
    left: 50%;
    top: 40%;
    display: none;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    // padding: 7px 100px;
    background: #283e4a;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    img{
        float: left;
        width: 70px;
        height: 70px;
        position: relative;
        bottom: 10px;
    }
    .navbar{
        float: right;
    }
    .login-reg-nab{
        margin: 0;
        padding: 0;
        display: flex;
        text-transform: uppercase;
    }
    ul{
        list-style: none;
    }
    .nav-btn{
        line-height: 39px;
        padding: 0 30px;
        color: #fff;
        text-decoration: none;
        display: block;
        border: 1px solid #fff;
        margin: -3px 5px 0 0;
    }
    .nav-btn:hover{
        color: #292727;
        text-decoration: none;
        background: #fff;
    }
    .menu-toggle{
        color: #ffffff;
        float: right;
        line-height: 50px;
        font-size: 24px;
        cursor: pointer;
        display: none;
        margin-top: 10px;
    }
    .menu-toggle:hover{
        color: #292727;
        background: #f5f5f5;
        padding: 5px;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
    }
}

.container{
    margin-top: 130px;
}
.wrapper{
    display: flex;
    margin: -50px 0;
}
.left-info{
    flex: 1;
    padding: 0 50px 0 0;
    h1{
        color: #292727;
        font-size: 24px;
        text-align: center;
    }
    .welcome_paragraph{
        color: #292727;
        margin: 25px 0;
        font-size: 17px;
        text-align: center;
    }
    .friendly-img {
        display: flex;
        img{
            margin: auto;
            height: 50px;
            width: 50px;
        }
    }
    .welcome-pag{
        text-align: center;
    }
    .friendly-mobile-p{
        text-align: center;
    }
    .mobile-img{
        display: flex;
        img{
            margin: auto;
            height: 70px;
            width: 39px;
        }
    }
    h4{
        text-align: center;
        margin-top: -40px;
    }
}
.center-forms{
    flex: 1;
    // width: 100%;
    // max-width: 330px;
    .signin-logo{
       display: flex;
       padding-bottom: 60px;
       img{
        margin: auto;
        height: 120px;
        width: 120px;
        box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
        border-radius: 50%;
       }
    }
    .myform{
        padding: 100px 15px 15px 15px;
        margin: auto;
        box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
        border-radius: 5px; 
        margin-top: -115px;
        box-sizing: border-box;
    }
    
    .form-group { 
        position: relative; 
        margin-bottom: 15px;
        .form-control {
            font-size: 18px;
            padding: 40px 10px 20px 18px;
            display: block;
            background: #fafafa;
            color: #636363;
            width: 100%;
            border: 1px solid #636363; 
            margin: 0;
        }
        :focus {
            box-shadow: none;
        }
        .email {
            color: #636363; 
            font-size: 18px;
            font-family: 'Montserrat';
            font-weight: normal;
            position: absolute;
            left: 22px;
            top: 17px;
            pointer-events: none;
            transition: all 0.2s ease;
        }
        .pass {
            color: #636363; 
            font-size: 18px;
            font-family: 'Montserrat';
            font-weight: normal;
            position: absolute;
            left: 22px;
            top: 17px;
            pointer-events: none;
            transition: all 0.2s ease;
        }
        .form-control:focus { outline: none; }
        /* active */
        .form-control:focus ~ .email, .form-control.used ~ .email {
            top: 1px;
            transform: scale(.75); 
            left: -14px;
            color: #4a89dc;
        }
        .form-control:focus ~ .pass, .form-control.used ~ .pass {
            top: 1px;
            transform: scale(.75); 
            left: -5px;
            color: #4a89dc;
        }
    }
    .check-forgot{
        text-align: center;
        margin-bottom: 35px;
        input[type="checkbox"]{
            margin-left: -19px;
        }
        span{
            padding-left: 15px;
        }
    }
    .btn-block {
        display: block;
        width: 100%;
        margin-bottom: 30px;
    }
    .btn-lg, .btn-group-lg > .btn {
        font-size: 1.25rem;
        line-height: 1.5;
        border-radius: 0.3rem;
        padding: 13px;
    }
    .creat-accnt{
        text-align: center;
    }
    .bar {
        position: relative;
        display: block;
        width: 100%;
    }
    .bar:before, .bar:after {
        content: '';
        height: 2px; 
        width: 0;
        bottom: 1px; 
        position: absolute;
        background: #4a89dc; 
        transition: all 0.2s ease;
    }
    .bar:before { left: 50%; }
    .bar:after { right: 50%; }
    /* active */
    input:focus ~ .bar:before, input:focus ~ .bar:after { width: 50%; }
    /* Highlight */
    .highlight {
        position: absolute;
        height: 60%; 
        width: 100px; 
        top: 25%; 
        left: 0;
        pointer-events: none;
        opacity: 0.5;
    }
    /* active */
    input:focus ~ .highlight {
        animation: inputHighlighter 0.3s ease;
    }
}
.rigth-tips{
    flex: 1;
    .heading-tips{
        font-size: 25px;
        margin-bottom: 25px;
        text-align: center;
    }
    .online-chat-tips {
        list-style: none;
        .tips {
            font-size: 17px;
            a{ 
                color: #636363;
                display: table-cell;
                padding-left: 50px;
                position: relative;
                top: -65px;
                left: 50px;
            }
        }
    }
}
.indexfooter{
    margin-top: 59px;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    .footer-first-heading{
        background: #f5f5f5;
        padding: 10px 20px 8px 20px;
        text-align: center;
        font-size: 15px;
        width: 100%;
        p{
            padding: 0 15px 0 15px;
        }
    }
    .footer-second-heading{
        padding: 20px 100px;
        background: #292727;
        width: 100%;
       .copy-rigth{
        float: left;
        color: #fff;
       }
       .privacy-security{
        list-style: none;
        li{
            a{
            float: right;
            margin: 0;
            padding: 0;
            display: flex;
            text-transform: uppercase;
            padding: 0 10px;
            color: #fff;
            text-decoration: none;
            display: block;
            }
        }
       }
    }
}
@media only screen and (max-width: 991px){
    header{
        padding: 10px 20px;
        .navbar{
            display: none;
            position: absolute;
            width: 100%;
            height: 100vh;
            background: #333;
            top: 90px;
            left: -100%;
            transition: 0.5s;
            .login-reg-nab{
                display: block;
            }
        }
        .menu-toggle{
            display: block;
        }
    }
    .wrapper{
       flex-direction: column;
    }
    
    .indexfooter{
        width: 100%;
        height: auto;
        text-align: center;
    }
   
}
.alert::before{
    content: '\f00d';
    font: normal 12px/1 FontAwesome;
    position: relative;
    left: 420px;
    cursor: pointer;
    color: #721c24;
    font-size: 17px;
    
}